<li class="{{if todo.isCompleted 'completed'}}">
  <input type="checkbox" class="toggle" {{action 'markAsCompleted' todo}}>
  {{#if editing}}
    <form {{action 'saveTodo' todo on='submit'}}>
      {{input value=todo.title autofocus='true' class="todo-item-editing"}}
      {{input type='hidden' value=todo.id}}
    </form>
  {{else}}
    <label>{{todo.title}}</label>
  {{/if}}
  <button class="destroy" {{action 'destroyTodo' todo}}></button>
</li>
